<section data-ng-controller="TrackingUsersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="trackingUser.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == trackingUser.user._id">
		<a class="btn btn-primary" href="/#!/tracking-users/{{trackingUser._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			<span data-ng-bind="trackingUser.login.loginId"></span>
			<span data-ng-bind="trackingUser.user.displayName"></span>
		</em>
	</small>
</section>
